export(alltools)
export(datirel)
export(export_plots)
export(hill)
export(hill_arc)
export(hill_area)
export(hill_cum)
export(hill_cum_plot)
export(hill_curvature)
export(hill_curvature_plot)
export(hill_derivative)
export(hill_derivative_plot)
export(hill_first_derivative)
export(hill_plot)
export(hill_profile)
export(hill_profile_plot)
export(hill_radius)
export(hill_radius_plot)
export(hill_ranking)
export(hill_second_derivative)
export(hill_surface)
export(hill_surface_compare)
export(hill_surface_plot)
export(hill_total_change)
export(summary_species)
export(summary_species_relative)
export(arc)
export(area)
export(beta)
export(beta_plot)
export(betaprime)
export(betaprime_plot)
export(betasecond)
export(betasecond_plot)
export(curvature)
export(curvature_plot)
export(radius)
export(radius_plot)
export(ranking)
importFrom(graphics, legend, lines, matplot, par, persp)
importFrom(grDevices, dev.off, hcl.colors, pdf, trans3d)
